version: '3.8'
services:
  db:
    image: postgres:15
    container_name: shop_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: shop
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 5s
      timeout: 5s
      retries: 5
  backend:
    build: ./server
    depends_on:
      - db
    ports:
      - '2001:2001' # host:container (backend will listen on 2001 inside container)
    environment:
      - NODE_ENV=production
      - PORT=2001
    restart: unless-stopped

  frontend:
    build: ./src
    ports:
      - '2000:2000' # host:container (nginx serves static files on 2000 inside container)
    restart: unless-stopped

volumes:
  db_data:

networks:
  default:
    name: dookon_default
